

<!DOCTYPE html>
<html>
<head>
        <title>NAVBAR</title>
        <style type="text/css">
        .my-container img
        {
               position: absolute;
               left:0;
               top:0;
               width:100%;
               height:auto;
               opacity:0.5;
        }
        #asdasd {
                    background-color: #555555;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    margin-left: 2000px;
                }
       
        p.abc
        {
                
    font-variant: small-caps;
                font-size:50px;
                color: black;
        }
                a:link,a:visited {text-decoration: none;
                                color: black;
                                padding: 14px;
                                background-color: white;
                                
                                }
                a:hover {text-decoration: none;
                                
                                color: black;
                                padding: 14px;
                                border-bottom:2px solid black;
                                box-shadow:0px 1px 0px black;
                                background-color: white;

                        }
                a:active {text-decoration: none;
                                color: black;
                                box-shadow:0px 1px 1px black;
                                background-color: #b6b8b4;
                                opacity: 0.8;
                        }
                .navbar{background-color: white;
                                padding:16px;
                                position: fixed;
                                width: 100%;    
                                top:0px;
                                left: 0px;
                                opacity: 0.7;
                                }
                #WELCOME {position: fixed;
                                top:0px;
                                left: 35%;
                        font-family: Trebuchet}
                #ABOUT {position: fixed;
                                top:0px;
                                left: 41.3%;
                        font-family: Trebuchet}
                #PROJECTS {position: fixed;
                                top:0px;
                                left: 46%;
                        font-family: Trebuchet}
                #CONTACT{position: fixed;
                                top:0px;
                                left: 52.1%;
                        font-family: Trebuchet}
                span{position: fixed;
                        top:16px;
                        left:85%;
                        font-size: 18px;
                        color: black;
                }

        </style>
</head>
<body>
        <div class="my-container">
        <img src="http://www.guoguiyan.com/data/out/40/69287490-code-wallpapers.png">
</div>
<div class="navbar">
        <!-- <p><a href="#" id="WELCOME">WELCOME</a><a href="#" id="ABOUT">ABOUT</a><a
href="#" id="PROJECTS">PROJECTS</a> -->
<p class="abc">
        CodeAssist

<a href="/signin" name="Signin"  href="signin.ejs"  style="margin-left: 1200px"  id="asdasd">Signin</a>
<a href="/signup" name="Signup" href="signup.ejs" style="margin-left: 50px" id="asdasd">Signup</a>

</p>


</div>



</body>
</html>



