<!DOCTYPE html>
<html>
<head>
  <title>CodeAssist: <%= Name %> </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/default.css">
<!--<script src="highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>-->
  <style type="text/css">
    .btn-arrow-right   {
   position: relative;
   padding-right: 20px;
   padding-left: 25px;
} 
.scroll-menu{
   min-width: 220px;
   max-height: 40vh;
   overflow: auto;
}
.btn-arrow-right:before,
.btn-arrow-right:after   { 
   content: "";
   position: absolute;
   top: 5px;
   width: 22px;
   height: 22px;
   background: inherit;
   border: inherit;
   border-left-color: transparent;
   border-bottom-color: transparent;
   border-radius: 0px 4px 0px 0px;  
   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}
.btn-arrow-right:before  {
   left: -11px;
 background-color: white;
}
.btn-arrow-right:after {
   right: -11px;
    z-index: 1;
} 
#Tabs{
  margin-top: -14px;
  margin-bottom: 0px;
  margin-left: -20px;
}
#Workspace{
    float : left;
        position: relative;
    /*top: 15px;   */
    margin-left: 10px; 
        /*border:0px solid black;*/
        /*font-size: 18;*/
        resize: none;
        overflow: auto;
        height: 55vh;
        width: 75vw;
        /*z-index: -1;*/
}

.vertical-menu {
    width: 100px;
    position: absolute; 
    left:75vw;
    margin-left: 10px;
    margin-top:-13px;/* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
@media (max-width: 768px){
  #Workspace{
    width: 95%;
  margin-left: 10px;
  }

}
@media (max-width: 992px){
  #Input,#codeOutput{
    /*margin-right: 12px; */
  }
}
#Exit_room{
  margin-top: -3px;
}
#Online_users{
  margin-top: -5px;
}
#button-and-usersinroom{
  margin-left: -3%;
  position: absolute;
  left: 78vw;
  height: 55vh;
  /*background-color: red;*/
  /*width: 100%;*/
  /*float: right;*/
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
#Leave{
  position: absolute;
  bottom: 0px;
}
.table-responsive{
  margin-top: -11px;
  margin-bottom: 5px;
  max-height: 74%;
}
#Input,#codeOutput{
  position: relative;
  height: 28vh;
}
#Input1,#codeOutput1{
  position: relative;
  height: 28vh;
}
.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}
#ChattingArea{
                    width:100%;
                    height: 260px;
                    position: absolute;
                    top:75%;
                    overflow: auto;
                    /*background-color:red;*/
                }
#Chat-box{
                    position:absolute;  
                    bottom: 0;
                    left:83%;
                    background-color: #dedbdb;
                        /*display: none;*/
                }

                #bottom-chat{
                    width: 100%;
                    height: 30px;
                    background-color: white;
                    display: none;
                }
                #message{
                    border: none;
                    padding: 2px;
                    height: 30px;
                    width: 75%;
                }
                #send{
                    border: none;
                    background-color: white;
                    padding: 8px;
                }
                #send:hover{
                    background-color: black;
                    color:white;
                }
                #my{
                    float:right;
                    display: block;
                    /*width: 30%;*/
                    background-color: #1187c2;
                    color: white;
                    border: none;
                    padding: 5px;
                    margin-right:20px;
                    width: auto;
                    text-align: right;
                    border-radius: 5px;
                }
                #her{   
                    clear:right;
                    display: block;
                    color: black;
                    width: auto;
                    text-align: left;
                    padding: 5px;
                    margin-left: 20px;
                    background-color: #DCE1E2;
                    /*width: 30%;*/
                    border: none;
                    border-radius: 5px;
                }
                .inviteButton{
                    width:50%;
                    background-color: black
                }
                .chatButton{
                    width:50%;
                    background-color: black
                }
				#overlay {
					position: fixed;
    				display: none;
    				width: 100%;
    				height: 100%;
    				top: 0;
    				left: 0;
    				right: 0;
    				bottom: 0;
    				background-color: rgba(0,0,0,0.5);
    				z-index: 3000;
    				cursor: pointer;
				}
				#whiteSpaceOverlay{
					width:60%;
					height:60%;
					margin-top:10%;
					margin-left:20%;
					background-color:white;
					z-index: 4000;
					cursor:pointer;
				}
				#OverlayName,#OverlayEmail{
					padding:5%;
				}
				#UserImage{
					margin-top:50%;
					margin-left:70%;
					height:10vh;
					width:10vh;
				}
				#OverlayNameHead{
					width:20vh;
					height:10vh;
					text-decoration:underline;
					margin-left:50%;
					padding:10%;
				}
        #sidebar{
                    height: 100%;
                    color: white;
                    background-color: #545454;
                    width: 14%;
                    position: fixed;
                    top:7vh;
                    /*z-index: -10;*/
                    /*z-index: -1;*/
                    left: 86%;
                    overflow: auto;
                    /*display: none;*/
                }
  </style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  <!-- Nav Bar -->
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">CodeAssist</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a onclick='OverlayOn("<%= Name%>")'><strong><span id="name" style='cursor:pointer;'><%= Name%></span></strong></a>
        </li>
        <li >
          <a id="signout"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Nav Bar Over-->
<!-- Tabs -->
<div id="overlay" onclick='OverlayOff()'>
	<div id='whiteSpaceOverlay'>
	<div class="container-fluid" style="margin-left: 1.5vw;margin-right: -0.5vw;">
		<div class="row">
          <div class="col-sm-4" ></div>
        <div class="col-sm-2" >
         <center><div class="hidden-xs"  id='UserImage'> <a><img title="profile image" class="img-circle img-responsive" src="user.png" style="width: 10vw;"></a></div>
		 </center>
		 </div>
        <div class="col-sm-4" ></div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row" >
			<div class="container-fluid">
				<div class="col-sm-4" ></div>
				<div class="col-sm-2" style="font-size: 26px;">
					<center>
					<div class="row" id='OverlayNameHead'></div>
					</center>
				</div>
				<div class="col-sm-4" ></div>
			</div>  
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4"></div>
					<div class="col-sm-4">
						<ul class="list-group ">
							<li class="list-group-item text-muted" contenteditable="false" style="background-color: black">PROFILE</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">User Name:</%=></strong></span><span id='OverlayName'></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email Id</strong></span><span id='OverlayEmail'></span></%=></li>
            </ul>
    </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid" id="Apple" style="margin-top: -1.72vh; margin-bottom: 0.7166667vh; margin-left: -1.41vw;">
  <div class="col-sm-8 col-md-8 hidden-xs col-lg-8" id="tabs">
    <button type="button" id="my_name" class="btn btn-default btn-arrow-right" style="background-color: black; color: white;">Me</button>
  </div>
  <div class="dropdown btn-group">
       <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id ='LangButton'>Language
			<span class="caret"></span>
		</button>
        <ul class="dropdown-menu scroll-menu" role="menu" id="Compilation">
		<li ><a href='#' id="1" onclick='LangChange(this)'>C</a></li>
		  <li><a href='#' id="2" onclick='LangChange(this)'>C++</a></li>
		  <li ><a href='#' id="3" onclick='LangChange(this)'>Java</a></li>
		  <li ><a href='#' id="5" onclick='LangChange(this)'>Python2.7</a></li>
		  <li ><a href='#' id="6" onclick='LangChange(this)'>Perl</a></li>
		  <li ><a href='#' id="7" onclick='LangChange(this)'>PHP</a></li>
		  <li ><a href='#' id="8" onclick='LangChange(this)'>Ruby</a></li>
		  <li ><a href='#' id="9" onclick='LangChange(this)'>C#</a></li>
		  <li ><a href='#' id="10" onclick='LangChange(this)'>MySQL</a></li>
		  <li ><a href='#' id="11" onclick='LangChange(this)'>Oracle</a></li>
		  <li ><a href='#' id="12" onclick='LangChange(this)'>Haskell</a></li>
		  <li ><a href='#' id="13" onclick='LangChange(this)'>Clojure</a></li>
		  <li ><a href='#' id="14" onclick='LangChange(this)'>Bash</a></li>
		  <li ><a href='#' id="15" onclick='LangChange(this)'>Scala</a></li>
		  <li ><a href='#' id="16" onclick='LangChange(this)'>Erlang</a></li>
		  <li ><a href='#' id="18" onclick='LangChange(this)'>Lua</a></li>
		  <li ><a href='#' id="20" onclick='LangChange(this)'>JavaScript</a></li>
		  <li ><a href='#' id="21" onclick='LangChange(this)'>Go</a></li>
		  <li ><a href='#' id="22" onclick='LangChange(this)'>D</a></li>
		  <li ><a href='#' id="23" onclick='LangChange(this)'>OCaml</a></li>
		  <li ><a href='#' id="24" onclick='LangChange(this)'>R</a></li>
		  <li ><a href='#' id="25" onclick='LangChange(this)'>Pascal</a></li>
		  <li ><a href='#' id="26" onclick='LangChange(this)'>SBCL</a></li>
		  <li ><a href='#' id="30" onclick='LangChange(this)'>Python3</a></li>
		  <li ><a href='#' id="31" onclick='LangChange(this)'>Groovy</a></li>
		  <li ><a href='#' id="32" onclick='LangChange(this)'>Objective-C</a></li>
		  <li ><a href='#' id="33" onclick='LangChange(this)'>F#</a></li>
		  <li ><a href='#' id="36" onclick='LangChange(this)'>COBOL</a></li>
		  <li ><a href='#' id="37" onclick='LangChange(this)'>Visual Basic</a></li>
		  <li ><a href='#' id="38" onclick='LangChange(this)'>LOLCODE</a></li>
		  <li ><a href='#' id="39" onclick='LangChange(this)'>Smalltalk</a></li>
		  <li ><a href='#' id="40" onclick='LangChange(this)'>Tcl</a></li>
		  <li ><a href='#' id="41" onclick='LangChange(this)'>Whitespace</a></li>
		  <li ><a href='#' id="42" onclick='LangChange(this)'>Transact-SQL</a></li>
		  <li ><a href='#' id="43" onclick='LangChange(this)'>Java8</a></li>
		  <li ><a href='#' id="44" onclick='LangChange(this)'>Db2</a></li>
		  <li ><a href='#' id="46" onclick='LangChange(this)'>GNU Octave</a></li>
		  <li ><a href='#' id="48" onclick='LangChange(this)'>XQuery</a></li>
		  <li ><a href='#' id="49" onclick='LangChange(this)'>Racket</a></li>
		  <li ><a href='#' id="50" onclick='LangChange(this)'>Rust</a></li>
		  <li ><a href='#' id="51" onclick='LangChange(this)'>Swift</a></li>
		  <li ><a href='#' id="54" onclick='LangChange(this)'>Fortran</a></li>
        </ul>
      </div>
  
  <div class="hidden-sm hidden-md hidden-lg col-xs-12" id="Tabs">
    <div class="btn-group">
      <div class="dropdown btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">My Rooms
          <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" id="tabs_M">
              <li><a href="#" id="my_name2">Me</a></li>
            </ul>
      </div>
      <div class="dropdown btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">In Room
          <span class="caret"></span></button>
        <ul class="dropdown-menu" id="users_in_room_M">
        </ul>
      </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript">
  //****************************************** set all outline None*****************************
  var a=document.getElementById('apple');
  a.onclick=function(){
    this.style.outline="none";
  };
</script>-->
<!-- Tabs Over -->
<!-- Main Area -->
<div>
  <textarea class="form-control" rows="20" id="Workspace" ></textarea>
</div>
<script type="text/javascript">
  document.getElementById("Workspace").onfocus=function(){
    this.style.outline="none";
  };
</script>
<!-- Main Area Over -->
<!-- button and usersinroom are -->
<div class="hidden-xs">
  <div class="row ">
    <div class="col-md-8"></div>
      <div class="col-md-1" id="button-and-usersinroom">
        <ul class="list-group">
          <li class="list-group-item active" id="Compile">Compile</li>
        </ul>
        <div class="table table-responsive" >          
          <table class="table">
            <tbody id="users_in_room">
            </tbody>
          </table>
        </div>
        <ul class="list-group">
          <li class="list-group-item active" id="leave_room" style="display: none;">Exit Room</li>
        </ul>
      </div>
</div>
</div>
<!-- button and usersinroom are over -->
<!-- Compile Area -->
<div class="hidden-lg hidden-md hidden-sm" style="margin-left: 10px;">
  <ul class="list-group btn-group">
      <li class="btn btn-warning" id="Compile2" style="z-index: 201;"><center>Compile</center></li>
      <li class="btn btn-info" id="leave_room" style="display: none;"><center>Exit Room</center></li>
  </ul>
</div>
<div >
  <div class="container-fluid">
  <div class="row">
<textarea class="col-sm-5 col-lg-5 col-md-5 well" style="margin-left: 10px; z-index: 200;" placeholder="Write Input Here..." id="Input"></textarea>
  <textarea disabled class="col-sm-5 col-lg-5 col-md-5 well" style="margin-left: 10px; z-index: 200;" placeholder="Output" id="codeOutput"></textarea>
    </div>
  </div>
</div>
</div>
<div id="sidebar">
  
</div> 


</div>
<div id="ChattingArea" style="z-index: 2000"></div>
<div id="Chat-box">
  <div id="chat-head">
  <strong><div id="typing"></div></strong>
  </div>
  <ul id="Output" type="none">
  </ul>
  <div id="bottom-chat">
  <input type="text" id="Message" placeholder="Message" />
  <button id="send">Send</button></div>
</div>

<script src='/chat.js'></script>
<script src='/code.js'></script>
<!-- compile Area Over -->
</body>
</html>
