<html>
<head>
<title>
</title>
</head>
<body>
<form method="POST" action="/login" novalidate>
	Username:-<br>
	<input type="text" name="Username" ><br>
	Password:-<br>
	<input type="Password" name="Pass"><br>
	<input type="submit" name="Login" value="Sign In"><br>
</form>

</body>	
</html>