<html>
<head>
<title>
</title>
<style type="text/css">
	.Forum{
		position: absolute;
		left: 50%;
		top:50%;
	}	
</style>
</head>
<body>
<div class="Forum">
<form method="POST" action="/signup">
	Name:-<br>
	<input type="text" name="Name" value="<%= Name %>"><br>
	Password:-<br>
	<input type="Password" name="Password" value="<%= Password %>"><br>
	Re-enter Password:-<br>
	<input type="Password" name="RePassword" value="<%= RePassword %>"><br>
	Email:-<br>
	<input type="text" name="Email" value="<%= Email %>"><br>
	<input type="submit" value="Sign Up" name="Submit">
</form>
<br><a href="/signin">Or Sign In</a>
</div>
</body>	
</html>