<html>

<head>
<title>Log In or Join Now to Start Coding Collaboratively</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/html'>
<style type="text/css">
/*.Login
{
    position: absolute;
    top:40px;                        
    width: 23%;
    left:364px;
    background-color: #dbdbd8;
    height: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}*/

#side
{
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: -0.4vw;
}

.Form{
                           
    width: 100%;
    background-color: #dbdbd8;
    height: 100%;
    
    /*border-left: 2px black;*/
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-left: -1vw;

}



#logup
{
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  color: #2e2e2c;
  font-size: 23px;

}

#user
{
  position: absolute;
  left: 227px;
  top: 175px;
  color: #abaa9e;

}

#passglyph
{
  position: absolute;
  left: 227px;
  top: 272px;
  color: #abaa9e;
}

#repassglyph{
  position: absolute;
  left:227px;
  top: 320px;
  color: #abaa9e;


}
#emailglyph{
  position: absolute;
  left: 227px;
  top: 225px;
  color: #abaa9e;

}

#userglyph2
{
  color: #abaa9e;

}

#passglyph2
{
  color: #abaa9e;
}


input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
display: none;}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
display: none;}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
display: none;}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
display: none;}

.log
{
                        
    height: 100%;
    /*left:355px;*/
    background: transparent;
    /*margin-left: 51%;*/
    /*z-index: -1;*/
}

#username
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
     /* width : 260px;*/
    position: relative;
     top:120px;
     left: 75px;
color:black;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
     background-image:url('smiley.png') left center no-repeat;
}

#email
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    /*  width : 260px;*/
     /*margin: 1px 730px;*/
      position: relative;
     top:150px;
     left: 75px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
   
   
}


#password
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
     /* width : 260px;*/
     /*margin: 100px 730px;*/
      position: relative;
     top:180px;
     left: 75px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
}


#rpass
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
      /*width : 260px;*/
     /*margin: 100px 730px;*/
      position: relative;
     top:210px;
     left: 75px;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
    color: black;
   
}

#rpass : active{
    border-bottom: 2px solid #444441;
}



#signup {
    background-color: #dedbdb;
    border: 1.5px solid #3c3c3b  ;
    border-radius: 5px;
    color: #3c3c3b;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
      position: relative;
     top:250px;
     left: 90px;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    /*margin:-20px 1300px;*/
    cursor: pointer;
}
#signup:hover {
    color : #dedbdb;
    background-color: #3c3c3b;
    border-color: #dedbdb;
}

#login
{
  position: absolute;
  left: 90px;
  top: 64px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  color: #2e2e2c;
  font-size: 23px;
}



input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
display: none;}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
display: none;}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
display: none;}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
display: none;}



#username2
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
     /* width : 260px;*/
color:black;
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
   
}

#password2
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    /*  width : 260px;*/
     /*margin: 1px 730px;*/
    padding: 1px;
    border: none;
    border-bottom: 1px solid #abaa9e;
    background: transparent;
    font: 14px  Copperplate, "Copperplate Gothic Light", fantasy;
   
   
}

#signup2 {
    background-color: #dedbdb;
    border: 1.5px solid #3c3c3b  ;
    border-radius: 5px;
    color: #3c3c3b;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    /*margin:-20px 1300px;*/
    cursor: pointer;
}
#signup2:hover {
    color : #dedbdb;
    background-color: #3c3c3b;
    border-color: #dedbdb;
}

#vt
{
   border-left: 1px solid #abaa9e;
   position: absolute;
   left: 25vw;
   top: 2.5vh;
   height: 220px;
}

#vt1
{
   border-left: 1px solid #abaa9e;
   position: absolute;
   left: 25vw;
   top: 39.5vh;
   height: 220px;
}

#mid
{
  position: absolute;
  left: 24vw;
  top: 36vh;
  font: 19px  Copperplate, "Copperplate Gothic Light", fantasy;
}

</style>
</head>
<body style="background-color: #3c3c3c">
  <div class="container-fluid">
    <div class="row" style="height: 75vh; margin-top: 100px;">
          <div class="col-sm-1" style="height: 75vh;">
          </div>
              <div class="col-sm-4" style="height: 75vh;">
                <img src="appfront.jpg" class="img-responsive" id="side" style="width: 100%; z-index: 2000">
              </div>
                  <div class="col-sm-6" style="height: 75vh; background-color: #dbdbd8">
                   <center> <h2 style="position: absolute; top: 3vh; left: 5vw;">Sign Up</h2> </center>
                    <!-- <div class="new" style="position: absolute; top: 16vh;"> -->
                          <div class="row" style="height: 75vh; margin-top: 16vh;  z-index: 3000">


                      <div class="col-sm-6" >
                   <form name="signupForm" class="form-horizontal" method="POST" action="/signup" onsubmit="return suval()">
  
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                      <input type="text" class="form-control" name="Name" id="pwd" placeholder="Username" style="background-color: #3c3c3b; color: white;" required><br>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                      <input type="text" class="form-control" name="Email" id="pwd" placeholder="Email Id" style="background-color: #3c3c3b; color: white;" required><br>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                      <input type="password" class="form-control" name="Password" id="pwd" placeholder="Password" style="background-color: #3c3c3b; color: white;" required><br>
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                      <input type="password" class="form-control" name="RePassword" id="pwd" placeholder="Re Password" style="background-color: #3c3c3b; color: white;" required><br>
                    </div>
                  </div>

                  <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                     <center> <button type="submit" class="btn btn-default">Sign Up</button></center>
                    </div>
                  </div>
                </form>
 
<!-- </div>  
 --></div>

                  <div class="col-sm-6" style="position: absolute; left: 22vw;">
                  <center><h2 style="position: absolute; top: -13vh; left: 5vw;">Log In</h2></center>

                   <form name="signupForm" class="form-horizontal" method="POST" action="/signin" onsubmit="return sival()">
  
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                     <br><br> <input type="text" class="form-control" name="Username" id="pwd" placeholder="Username" style="background-color: #3c3c3b; color: white;" required><br><br>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-2" for="pwd"></label>
                    <div class="col-sm-10"> 
                      <input type="password" class="form-control" name="Pass" id="pwd" placeholder="Password" style="background-color: #3c3c3b; color: white;" required><br><br><br><br><br>
                    </div>
                  </div>
                 
                  

                  <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                     <center> <button type="submit" class="btn btn-default">Log In</button></center>
                    </div>
                  </div>
                </form>
 
</div>               
</div>
</div>
</div>
</body>
</html>
